<app-loading *ngIf="loadingArtist"></app-loading>
<div *ngIf="!loadingArtist" class="row">
  <div class="col-2">
    <img [src]="artista.images | noimages" class="img-thumbnail" alt="">
  </div>
  <div class="col">
    <h3>{{artista.name}}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">
        Ir a la pagina del artista
      </a>
    </p>
  </div>
  <div class="col-4">
    <button routerLink="/home" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>

<div class="row my-4">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Cancion</th>
          <th>Vista previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of topTracks" >
          <td>
            <img [src]="item.album.images | noimages" alt="" class="img-thumb">
          </td>
          <td>{{item.album.name}}</td>
          <td>{{item.name}}</td>
          <td>
            <!-- <audio [src]="item.preview_url" controls></audio> -->
            <iframe [src]="item.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>